<!DOCTYPE html>
<html lang="en">
<title>CRUD's employees</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-green w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-green" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <!-- Links a los archivos index de cada tabla-->
    <?= $this->Html->link('Employees', '/Employees',
      ['class' => 'w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white']);
    ?>
    <?= $this->Html->link('Titles', '/Titles',
      ['class' => 'w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white']);
    ?>
    <?= $this->Html->link('Salaries', '/Salaries',
      ['class' => 'w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white']);
    ?>
    <?= $this->Html->link('Department Managers', '/DeptManager',
      ['class' => 'w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white']);
    ?>
    <?= $this->Html->link('Department Employees', '/DeptEmp',
      ['class' => 'w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white']);
    ?>
    <?= $this->Html->link('Departments', '/Departments',
      ['class' => 'w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white']);
    ?>
    <?= $this->Html->link('View Query EMPLOYEES-FINANCE', '/employees/queryEmp',
      ['class' => 'w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue']);
    ?>
    <?= $this->Html->link('Change Password', '/employees/changePass',
      ['class' => 'w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black']);
    ?>
  </div>

   <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <!-- Links a los archivos index de cada tabla-->
    <?= $this->Html->link('Employees', '/Employees',
      ['class' => 'w3-bar-item w3-button w3-padding-large']);
    ?>
    <?= $this->Html->link('Titles', '/Titles',
      ['class' => 'w3-bar-item w3-button w3-padding-large']);
    ?>
    <?= $this->Html->link('Salaries', '/Salaries',
      ['class' => 'w3-bar-item w3-button w3-padding-large']);
    ?>
    <?= $this->Html->link('Department Managers', '/DeptManager',
      ['class' => 'w3-bar-item w3-button w3-padding-large']);
    ?>
    <?= $this->Html->link('Department Employees', '/DeptEmpt',
      ['class' => 'w3-bar-item w3-button w3-padding-large']);
    ?>
    <?= $this->Html->link('Departments', '/Departments',
      ['class' => 'w3-bar-item w3-button w3-padding-large']);
    ?>
    <?= $this->Html->link('View Query EMPLOYEES-FINANCE', '/employees/queryEmp',
      ['class' => 'w3-bar-item w3-button w3-padding-large']);
    ?>
    <?= $this->Html->link('Change Password', '/employees/changePass',
      ['class' => 'w3-bar-item w3-button w3-padding-large']);
    ?>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-green w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">CRUD's Employees</h1>
  <form action="http://localhost/curso-cakephp/employees/logout">
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Cerrar Sesión</button>
  </form>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Employees</h1>
      <br>
      <p class="w3-text-grey">Este proyecto es parte del curso Cake PHP impartido en la DGTIC UNAM.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-green"></i>
    </div>
  </div>
</div>



<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
